@import "vendor/_include-media";

/*------------------------------------*\
    #Global
    *------------------------------------*/
    body {
    	background-color: $light-gray;
    	color: $medium-gray;
    	min-height: 100%;
    }


