/*------------------------------------*\
    # Visibility
\*------------------------------------*/

.is-hidden {
  display: none !important;
}

.is-hidden-mobile {
    @include media ('<phone', '<=tablet') {
        display: none !important;
    }
}

.is-hidden-tablet {
    @include media ('>tablet') {
        display: none !important;
    }
}

.is-hidden-desktop {
    @include media ('>desktop') {
        display: none !important;
    }
}

.is-disabled{
  pointer-events: none;
}