<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <img src="icons/svg/sass-logo.svg" alt="sass logotype" />
    <h1 class="colored">Too sassy for you!</h1>
    <p class="lead colored">One <span bg-danger>file</span> to rule them all.</p>
    <p><a class="btn btn-lg btn-success" href="http://bourbon.io/docs/" target="_blank">Documentation! <span class="glyphicon glyphicon-info-sign"></span></a></p>
</div>
