/*------------------------------------*\
    # Spacing
*------------------------------------*/

// Element spacing size
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
